$break-tablet: 960px
@media screen and (max-width: $break-tablet)
  #about
    #about-container
      margin: 0 auto
      animation-name: none
      opacity: 1
      text-align: center
      h1
        width: 80%
        margin: 0 auto

      #about-content
        #img-container
          img
            width: 30%

  #projects
    #project-container
      width: 720px
