#about
    span#about-top
    #about-container.nojs
        h1 About
        #about-content
            #img-container
                img(src="res/avatar.png")
            #p-container
                p Bachelor of informatics. <br> Employed as Software Engineer for IGT Global Services Limited. <br> In free time working on personal projects.
            footer
