#button-hamburger
    img(src="res/icon_menu.svg")
ul#buttons.off
    li.active
        a#home_button(href="#title")
            span.image
                img(src="res/icon_home.svg")
            span.title Home
    li
        a#about_button(href="#about")
            span.image
                img(src="res/icon_about.svg")
            span.title About
    li
        a#projects_button(href="#projects")
            span.image
                img(src="res/icon_projects.svg")
            span.title Projects
    li
        a#contact_button(href="#contact")
            span.image
                img(src="res/icon_contact.svg")
            span.title Contact