#about
    span#about-top
    #about-container.nojs
        h1 About
        #about-content
            img(src="res/avatar.png")
            p Hello, I am IT student interested in both programing and graphic design. Currently working as Release/Configuration Engineer for IGT Global Services Limited.
            footer
