#about
    span#about-top
    #about-container.nojs
        h1 About
        #about-content
            img(src="res/avatar.png")
            p Bachelor of informatics. Employed as Release/Configuration Engineer for IGT Global Services Limited. In free time working on personal projects.
            footer
