#contact
    h1 Contact
    h2 Email:
    h3
        a(href="mailto:contact@nkovacevic.com") contact@nkovacevic.com
    h2
        ul
            li
                a(href="https://facebook.com/nkg5.rs")
                    img(src="res/social-facebook.svg")
            li
                a(href="http://nkg5.deviantart.com")
                    img(src="res/social-deviantart.svg")
            li
                a(href="https://github.com/n-kovacevic")
                    img(src="res/social-github.svg")
            li
                a(href="https://www.linkedin.com/in/nikola-kova%C4%8Devi%C4%87-bb545310a")
                    img(src="res/social-linkedin.svg")
