doctype  html
html#nojs
    include jade/head
    body
        #background
        .nojs-div.nojs For best experience enable javascript.
        include jade/nav
        include jade/title
        include jade/about
        include jade/projects
        include jade/contact
        script(src="app.js")