doctype  html
html#nojs
    include pug/head
    body
        #background
        .nojs-div.nojs For best experience enable javascript.
        include pug/nav
        include pug/title
        include pug/about
        include pug/projects
        include pug/contact
        script(src="app.js")